#logo img 

{
    width: 40px;

}
#navbar {
    flex-direction: column;
    justify-content: center;
}
#logo{
    margin: auto;
}
#navigation li a {
    text-decoration: none;
    padding: 0px 0px;
    border-radius: 20px;
    color: aliceblue;
    font-family: "Bree Serif", serif;
    font-size: smaller;
  }
  #navigation {
      justify-content: center;
  }
  #navigation li a:hover {
padding: 0 3px;
font-size: xx-small;
  }
  .client-items img {
    height: 90px;
  }